.Loading {
    animation: logo-spin infinite 5s linear;
    /*height: 40vmin;*/
    pointer-events: none;
}
/*.ReactModal__Body--open {
    overflow: scroll;
}*/
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
